@charset "UTF-8";
html{
    font-size:100%;
}
body{
    background-color:#fffeee;
}
h1{
    color:rgb(0, 122, 221);
    font-size:10rem;
    font-family:serif;
}
h2{
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic", sans-serif;
}
p{
    font-size:20px;
    font-family:"ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro",sans-serif;
    line-height:0.5;
    text-align:center;
}
div p{
    color:red;
    font-weight:bold;
}

/*
OS対策: MacにはあるがWindowsにはないフォント（またはその逆）に対応するため
優先順位: 左から順に探して、「端末に入っている最初のフォント」で表示する
フォントの保険: 一番最後の sans-serif は、全滅したときに「端末の標準ゴシック体」で出すための保険
*/